VITE_API_URL=http://localhost:3001/api/v1
VITE_AVALANCHE_RPC=https://api.avax-test.network/ext/bc/C/rpc
VITE_CHAIN_ID=43113
VITE_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
VITE_PINATA_GATEWAY=https://ipfs.io/ipfs/
VITE_APP_NAME=RoyaltyFlux
VITE_APP_URL=http://localhost:5173
